black==20.8b1
contextily
rasterio==1.2.3
GDAL==3.2.2
Fiona==1.8.19
jupyter==1.0.0
numpy==1.20.2
pandas==1.2.4
pyproj==3.0.1
Rtree==0.9.7
Shapely==1.7.1
click==7.1.2
matplotlib==3.4.1
h3==3.7.2
osmnx==1.0.1
plotly==4.14.3
rope==0.18.0